{{#if addNewCity}}
<h1>New City</h1>
  <div class="container">
    <form>
      <div class="form-group">
        <label for="name">City</label>
        {{input value=name id="name" class="form-control"}}
        <label for="countryInput">Country</label>
        {{input value=countryInput id="countryInput" class="form-control"}}
      </div>
      <button class="btn"{{action 'saveCity'}}>Save</button>
    </form>
  </div>
  {{else}}
    <button class="btn"{{action 'cityFormShow'}}>New City</button>
  {{/if}}
